
<app-sophia-datepicker
[modelButtons]="buttonsItems"
[submitButton]="{ label: 'submit', icon: 'fas fa-calendar-check' }"
[mobileView]="useMobile"
[useTime]="true"
[startDate]="customStart"
[endDate]="customEnd"
(timeframe)="timeframeSelectedChanged($event)"
(timeframeDate)="timeframeSelectedChangedDate($event)"
(timeframeUTC)="timeframeSelectedChangedUTC($event)"
(timeframeISO)="timeframeSelectedChangedISO($event)"
[type]="'single'"
[dateFormat]="'dd-MM-yyyy'"
[inputFormat]="'mm-dd-yyyy'"
>
</app-sophia-datepicker>

<!-- [dateFormat]="'dd-mm-yyyy'" -->
<!-- [startDate]="customStart" -->
<!-- [endDate]="customEnd" -->
<!-- [type]="'single'" -->
<!-- [submitButton]="{ label: 'submit', icon: 'fas fa-calendar-check' }"  -->
